@model WIPReportModel
@{
    ViewData["Title"] = "WIP Report";
    TempData["ReferredUrl"] = "/WIP";
}

@section Scripts {
    <link href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/akottr/dragtable@master/dragtable.css" rel="stylesheet">
    @*<link href="https://philippemarcmeyer.github.io/vanillaSelectBox/vanillaSelectBox.css" rel="stylesheet">*@

    
     <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <link href="~/css/multi-select.dist.css" rel="stylesheet" />
    <link href="~/css/picker.min.css" rel="stylesheet" />

    <link href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet" />
    @*<script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/tableExport.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF/jspdf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/akottr/dragtable@master/jquery.dragtable.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/export/bootstrap-table-export.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.20.2/dist/extensions/reorder-columns/bootstrap-table-reorder-columns.min.js"></script>
    @*<script src="https://philippemarcmeyer.github.io/vanillaSelectBox/vanillaSelectBox.js?v1.0.2"></script>*@

    <script src="~/js/picker.min.js"></script>


    <script>

        $(function () {
           $('#Estimator2').picker();
           $('#Status2').picker();
           $('#Department2').picker();
           var $table = $('#table')

            $('#datepicker, #opendatepicker, #finishdatepicker').datepicker({
            autoclose: true
           });
      

            $(".kot").click(function(){
                 $("#slide6").toggle("slow");
                // $(".kot").text('hide');
            }); 

            $table.bootstrapTable('destroy').bootstrapTable({
                exportDataType: $(this).val(),
                exportTypes: ['csv', 'excel'],
               
            })
        })
    </script>
    <style>
         table {
              overflow-x: auto;
        }

         table > * > tr > th:first-child,
         table > * > tr > td:first-child {
              position: sticky;
                left: 0;
                z-index: 2;
                background-color: lightgrey;
        }
    </style>
}

<div id="slide5" >
    <div class="kot"> Hide / Show </div>
</div>
<div id="slide6" >
 <form method="post" enctype="multipart/form-data" asp-controller="ReportGenerator" asp-action="Index" style="margin-top: 1rem;">
      <div class="modal fade" id="modalLg" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
         <div class="modal-header">
        <h5 class="modal-title">Save View As</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
    <div class="modal-body">
            <label>Save View</label>
                 <input asp-for="ViewName" class="form-control" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
        <button type="submit" id="revertData" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
    <div class="container">

        <div class="row" >
            <div class="col-xl-12">
				    <!-- BEGIN row -->
				    <div class="row">
					    <!-- BEGIN col-6 -->
					   <div class="col-xl-6">
                           <div class="form-group mb-3">
                               <label class="form-label" for="exampleFormControlInput1">Estimator</label>
                               @*<input type="text" class="form-control" asp-for="Estimator" name="Estimator" placeholder="John Smith">*@
                               <select class="form-control"  asp-for="Estimator2" asp-items="ViewBag.Estimator" multiple>
                                 @*  <option selected>--- SELECT ---</option>*@
                               </select>
      @*                        <select name="basic" id="ex-multiselect" multiple>
    <option value="1">Kind</option>
    <option value="2">Easy-going</option>
    <option value="3">Extroverts</option>
    <option value="4">Introverts</option>
    <option value="5">Ambitious</option>
    <option value="6">Loud</option>
</select>*@
                           </div>
					   </div>

                       <div class="col-xl-6">
                           <div class="form-group mb-3">
                               <label class="form-label" for="exampleFormControlInput1">Department</label>
                               @*<input type="text" class="form-control" asp-for="Department" name="Department" placeholder="PRIDE  ">*@
                               <select class="form-control"  asp-for="Department2" asp-items="ViewBag.Departments" multiple>
                                  @* <option selected>--- SELECT ---</option>*@
                               </select>
                           </div>
					   </div>

                        <div class="col-xl-6">
						    <div class="form-group mb-3">
                               <label class="form-label" for="exampleFormControlInput1">Start Date(s)</label>
                                <div class="input-group input-daterange" id="datepicker">
                                    <input type="text" class="form-control" asp-for="StartDate" name="StartDate" placeholder="start date" />
                                    <span class="input-group-text">to</span>
                                    <input type="text" class="form-control" asp-for="EndDate" name="EndDate" placeholder="end date" />
                                </div>
                            </div>
					    </div>

                        <div class="col-xl-6">
						    <div class="form-group mb-3">
                               <label class="form-label" for="exampleFormControlInput1">Open Date(s)</label>
                                <div class="input-group input-daterange" id="opendatepicker">
                                    <input type="text" class="form-control" asp-for="OpenDtStart" name="OpenDtStart" placeholder="start date" />
                                    <span class="input-group-text">to</span>
                                    <input type="text" class="form-control" asp-for="OpenDtEnd" name="OpenDtEnd" placeholder="end date" />
                                </div>
                            </div>
					    </div>

                        <div class="col-xl-6">
						    <div class="form-group mb-3">
                               <label class="form-label" for="exampleFormControlInput1">Finish Date(s)</label>
                                <div class="input-group input-daterange" id="finishdatepicker">
                                    <input type="text" class="form-control" asp-for="FinishDtStart" name="FinishDStart" placeholder="start date" />
                                    <span class="input-group-text">to</span>
                                    <input type="text" class="form-control" asp-for="FinishDtEnd" name="FinishDtEnd" placeholder="end date" />
                                </div>
                            </div>
					    </div>

                       <div class="col-xl-6">
						<div class="form-group mb-3">
                            <label class="form-label" for="exampleFormControlInput1">Customer Name</label>
                            <input type="text" class="form-control" asp-for="CustomerName" name="CustomerName" placeholder="Utah State University">
                        </div>
					   </div>

                        <div class="col-xl-6">
						    <div class="form-group mb-3">
                                <label class="form-label" for="exampleFormControlInput1">Project</label>
                                <input type="text" class="form-control" asp-for="ProjectOc" name="ProjectOc" placeholder="22759-TM : Huntsman Cancer Fireproofing Removal : Layton Construction">
                            </div>
					    </div>

                         <div class="col-xl-6">
						    <div class="form-group mb-3">
                                <label class="form-label" for="exampleFormControlInput1">Status</label>
                                @*<input type="text" class="form-control" asp-for="Status" name="Status" >*@
                                <select class="form-control"  asp-for="Status2" multiple>
                                  
                                    <option value="Pending">Pending</option>
                                    <option value="Closed">Closed</option>
                                    <option value="Comm Paid">Comm Paid</option>
                                    <option value="Finished">Finished</option>
                                    
                                    <option value="Accepted">Accepted</option>
                                    <option value="Rejected">Rejected</option>
                                    <option value="Invoiced">Invoiced</option>
                                    <option value="Unapplied">Unapplied</option>

                                    <option value="Done">Done</option>
                                    <option value="Started">Started</option>
                                    <option value="JEIP">JEIP</option>
                                    <option value="Paid in Full">Paid in Full</option>
                                </select>
                            </div>
					    </div>

                          <div class="col-xl-6">
						    <div class="form-group mb-3">
                                <label class="form-label" for="exampleFormControlInput1">Contact Type</label>

                                 <select class="form-control"  asp-for="ContactType">
                                    <option value="">-- Select --</option>
                                    <option value="Existing Client">Existing Client</option>
                                    <option value="New Client">New Client</option>
                                </select>
                            </div>
                            
					    </div>

                        <div class="col-xl-6">
						    <div class="form-group mb-3">
                                <label class="form-label" for="exampleFormControlInput1">Select View</label>
                                  <select class="form-control"  asp-for="ViewNameSelected" asp-items="ViewBag.Views" onchange="this.form.submit()">
                                       <option selected>--- SELECT ---</option>
                                      </select>

                            </div>
                            <a href="/SavedViews">Manage Saved Views</a>
					    </div>

                        <div class="col-xl-6">
						    <div class="form-group mb-3">
                                   <input type="submit" value="Execute" class="btn btn-primary" />  
                                    <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#modalLg">Save View</button>
                            </div>
					    </div>


                       
                        
                        
					    <!-- END col-6 -->
				    </div>
				    <!-- END row -->
			    </div>
        </div>
   
    </div>
</form>
</div>

<div class="row" style="margin-top:2rem;">
    <!-- BEGIN col-6 -->
    <!-- END col-6 -->
    <!-- BEGIN col-6 -->
    <div class="col-xl-12">
        <!-- BEGIN card -->
        <!-- END card -->
        <div id="bootstrapTable" class="mb-5">
            <div class="card">
                <div class="card-body">
                    <table id="table" class="table-sm table-striped"
                           data-page-size="100"
                           data-search="true"
                           data-toggle="table"
                           data-pagination="true"
                           data-reorderable-columns="true"
                           data-show-export="true"
                           data-show-columns="true"
                           data-sortable="true">
                        <thead>
                              <tr>
                                <th scope="col" data-sortable="true">Project#:Job:Client</th>
                                <th scope="col" data-sortable="true">Department</th>
                                <th scope="col" data-sortable="true">Rep</th>
                                <th scope="col" data-sortable="true">Start Date</th>
                                <th scope="col" data-sortable="true">Scheduled Finish Date</th>
                                 <th scope="col" data-sortable="true">Open Date</th>
                                <th scope="col" data-sortable="true">Status</th>
                                <th scope="col" data-sortable="true">Days in WIP</th>
                                <th scope="col" data-sortable="true">Eagle Bid Form Sales</th>
                                <th scope="col" data-sortable="true">Amount Done</th>
                                <th scope="col" data-sortable="true">% Done</th>
                                <th scope="col" data-sortable="true">5% Mobilization</th>
                                <th scope="col" data-sortable="true">15% Prep 1/4</th>
                                <th scope="col" data-sortable="true">15% Prep 1/2</th>
                                <th scope="col" data-sortable="true">15% Prep 3/4</th>
                                <th scope="col" data-sortable="true">15% Prep Done</th>
                                <th scope="col" data-sortable="true">15% Removal 1/2</th>
                                <th scope="col" data-sortable="true">15% Removal 3/4</th>
                                <th scope="col" data-sortable="true">5% Done</th>
                                 
                                  <th scope="col" data-sortable="true">Customer Name</th>
                                   <th scope="col" data-sortable="true">Customer Date Created</th>
                                    <th scope="col" data-sortable="true">Contact Type</th>
                                    <th scope="col" data-sortable="true">Contact Date Created</th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var user in Model.VWipReport)
                            {
                            <tr>
                                 <td scope="col" title="@user.ProjectNumber">
                                    <a href="/JobLog/Edit?id=@user.Id"> @String.Format("{0} ...", user.ProjectNumber.Substring(0,20))</a>
                                </td>
                                <td scope="col" class="col-1">@user.Department</td>
                                <td scope="col">@user.Rep</td>
                                
                                <td scope="col">@String.Format("{0:MM/dd/yyyy}", user.StartDate) </td>
                                <td scope="col">@String.Format("{0:MM/dd/yyyy}", user.FinishDate) </td>
                                 <td scope="col">@String.Format("{0:MM/dd/yyyy}", user.OpenDate) </td>
                                <td scope="col">@user.Status</td>
                                <td scope="col">@user.DaysWip</td>
                                <td scope="col">@String.Format("{0:C2}", user.EagleBidSales) </td>
                                <td scope="col">@String.Format("{0:C2}", user.AmountDone) </td>
                                <td scope="col">@String.Format("{0:P1}", Convert.ToDouble("0.0"+user.TotalComplete))</td>
                                 <td scope="col">@String.Format("{0:P1}", Convert.ToDouble("0.0"+user.Mobilization))</td>
                                <td scope="col">@String.Format("{0:P1}", Convert.ToDouble("0."+user.Prep14))</td>
                                <td scope="col">@String.Format("{0:P1}", Convert.ToDouble("0."+user.Prep12))</td>
                                <td scope="col">@String.Format("{0:P1}", Convert.ToDouble("0."+user.Prep13))</td>
                                <td scope="col">@String.Format("{0:P1}", Convert.ToDouble("0."+user.PrepDone))</td>
                                <td scope="col">@String.Format("{0:P1}", Convert.ToDouble("0."+user.Removal12))</td>
                                <td scope="col">@String.Format("{0:P1}", Convert.ToDouble("0."+user.Removal34))</td>
                                <td scope="col">@String.Format("{0:P1}", Convert.ToDouble("0.0"+user.DemoDone))</td>
                                  <td scope="col">@user.CustomerName</td>
                                  <td scope="col">@String.Format("{0:MM/dd/yyyy}", user.CustomerDateCreated) </td>
                                   <td scope="col">@user.ContactType</td>
                                  <td scope="col">@String.Format("{0:MM/dd/yyyy}", user.ContactTypeDateCreated) </td>
                            </tr>
                            }

                        </tbody>
                    </table>
                     <div>
               

            </div>
        </div>
    </div>
    <!-- END col-6 -->
</div>
<!-- END row -->
